# Importing librraies

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Loading Dataset

In [3]:
path=r"C:\Users\ashis\OneDrive\Documents\Case_Study\Task_2\resources\test.csv"

In [4]:
df=pd.read_csv(path)

In [5]:
df.head()

   Unnamed: 0  ID Country Sample Size       Outcome Duration
0           0  66   China         669     Negative       143
1           1  15   Spain         788      Positive       51
2           2  82   Japan         677  Inconclusive      345
3           3  77   Japan         274      Positive      199
4           4  85     NaN         NaN      Negative      NaN

# Initial Exploration of the data

### Shape of the data

In [6]:
df.shape

(102, 6)

### Basic Information

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   97 non-null     int64
 1   ID           97 non-null     int64
 2   Country      97 non-null     object
 3   Sample Size  97 non-null     int32
 4   Outcome      97 non-null     object
 5   Duration     97 non-null     int32
dtypes: int32(2), int64(2), object(2)
memory usage: 3.9+ KB

# Handling Missing values

### Missing values check

In [52]:
df.isna().sum()

Unnamed: 0     0
ID             0
Country        0
Sample Size    0
Outcome        0
Duration       0
dtype: int64

In [53]:
# There are a few columns that have missing values.
# I feel that country column is the most important so if country is missing then I am dropping those rows.

### Dropping the missing values

In [54]:
df=df.drop(df[df.Country.isna()].index).reset_index(drop=True)

In [10]:
df.isna().sum()

Unnamed: 0     0
ID             0
Country        0
Sample Size    0
Outcome        0
Duration       0
dtype: int64

In [11]:
# - There are no missing values now in the data.

In [12]:
df.shape

(97, 6)

In [13]:
# We have dropped total 5 rows because of missing values.

# Data Type Conversion

### Datatypes of the columns

In [56]:
df.dtypes

Unnamed: 0      int64
ID              int64
Country        object
Sample Size     int32
Outcome        object
Duration        int32
dtype: object

In [57]:
# As per the nature 'Sample Size' and 'Duration' have to be numeric

### Converting 'Sample Size' column into numeric type

In [16]:
df['Sample Size'].unique()

array(['669', '788', '677', '274', 'two hundred', '511', '829', '590',
       '949', '460%', '423', '792', '603', '82', '426', '290', '332',
       '397', '713', '888', '456', '876', '798', '731', '292', '97',
       '434', '844', '209', '979', '283', '552', '662', '868', '596',
       '442', '759', '854', '698', '574', '135', '689', '847', '692',
       '606', '267', '627', '704', '818', '695', '992', '64', '145',
       '505', '447', '721', '726', '748', '380', '367', '913', '623',
       '555', '794', '220', '845', '816', '148', '239', 'fifty', '624',
       '389', '510', '733', '920', '777', '682', '740', '280', '657',
       '775', '256', '534', '522', '613', '941', '77', '605', '921',
       '783', '85'], dtype=object)

In [17]:
# - There are some incosistencies in the Sample Size data such as special charcaters
# - Non-digit representation of the numbers such as 'two hundred' and 'fifty'

In [18]:
df['Sample Size']=df['Sample Size'].str.strip('%')

In [19]:
from word2number import w2n

In [20]:
ind=df[df['Sample Size'].apply(lambda x:True if not x.isdigit() else False)].index
ind

Index([4, 70], dtype='int64')

In [21]:
df['Sample Size'].iloc[ind]

4     two hundred
70          fifty
Name: Sample Size, dtype: object

In [22]:
numbers=[w2n.word_to_num(i) for i in df[df['Sample Size'].apply(lambda x:True if not x.isdigit() else False)]['Sample Size']]
numbers

[200, 50]

In [23]:
df['Sample Size'].iloc[ind]=numbers

In [24]:
df['Sample Size']=df['Sample Size'].astype(int)

In [25]:
df.dtypes

Unnamed: 0      int64
ID              int64
Country        object
Sample Size     int32
Outcome        object
Duration       object
dtype: object

In [26]:
# The 'Sample Size' column has been successfully converted to numeric type (int32)

### Converting Duration into numeric type

In [27]:
df.Duration.unique()

array(['143', '51', '345', '199', '97', '67', '339', '217', '128', '293',
       '92', '249', '33', '237', '55', '187', '335', '328', '182', '190',
       '309', '215', '210', '252', '352', '198', '276', '126', '282',
       '192', '244', 'three sixty five', '317', '205', '313', '49', '333',
       '171', '220', '157', '302', '156', '259', '83', '312', '310',
       '124', '80', '-90', '350', '306', '219', '121', '285', '184',
       '172', '201', '87', '56', '133', '342', '203', '255', '164', '68',
       '46', '351', '47', '180', '318', '221', '315', '42', '78', '331',
       '154', '62', '346', '66', '275', '75', '64', '262', '-365'],
      dtype=object)

In [28]:
# As we can see that there are some numbers in text format so first fixing them and then converting to numeric.

In [29]:
def word_to_num(text):
    lst=list(map(lambda x:str(w2n.word_to_num(x)),text.split()))
    r=''
    for i in lst:
        if int(i)%10==0:
            r+=i[0]
        else:
            r+=i
    return r

In [30]:
df.Duration=df.Duration.apply(lambda x:word_to_num(x) if not x.strip('-').isdigit() else x)

In [31]:
df.Duration.unique()

array(['143', '51', '345', '199', '97', '67', '339', '217', '128', '293',
       '92', '249', '33', '237', '55', '187', '335', '328', '182', '190',
       '309', '215', '210', '252', '352', '198', '276', '126', '282',
       '192', '244', '365', '317', '205', '313', '49', '333', '171',
       '220', '157', '302', '156', '259', '83', '312', '310', '124', '80',
       '-90', '350', '306', '219', '121', '285', '184', '172', '201',
       '87', '56', '133', '342', '203', '255', '164', '68', '46', '351',
       '47', '180', '318', '221', '315', '42', '78', '331', '154', '62',
       '346', '66', '275', '75', '64', '262', '-365'], dtype=object)

In [32]:
# As we can see that the text has been successfully converted to digits
# Now converting the type to numeric (int)

In [33]:
df['Duration']=df.Duration.astype(int)

In [34]:
df.dtypes

Unnamed: 0      int64
ID              int64
Country        object
Sample Size     int32
Outcome        object
Duration        int32
dtype: object

In [35]:
df.head()

   Unnamed: 0  ID Country  Sample Size       Outcome  Duration
0           0  66   China          669     Negative        143
1           1  15   Spain          788      Positive        51
2           2  82   Japan          677  Inconclusive       345
3           3  77   Japan          274      Positive       199
4           6   6   China          200      Negative        97

# Categorical Data Standardization

### Country

In [36]:
df.Country.unique()

array(['China', 'Spain', 'Japan', 'Australia', 'Canada', 'UK', 'USA',
       'France', 'United states', 'Germany', 'Italy', 'US', 'FR'],
      dtype=object)

In [37]:
df.Country.value_counts()

Country
Australia        13
Canada           12
China            11
Japan            11
UK               10
Italy            10
France            9
Germany           9
Spain             6
USA               3
United states     1
US                1
FR                1
Name: count, dtype: int64

In [38]:
# As we can see that 'USA','United States' and 'US' all belong to one country only.
# So I am converting 'United Satetes' and 'US' into USA.

# FR- Generally we don't use any abbreviations for France so I am converting FR to France

In [39]:
df.Country.replace({'United states':'USA','US':'USA','FR':'France'},inplace=True)

In [40]:
df.Country.value_counts()

Country
Australia    13
Canada       12
China        11
Japan        11
UK           10
France       10
Italy        10
Germany       9
Spain         6
USA           5
Name: count, dtype: int64

In [41]:
# Now as we can see that the changes have been made perperly.

### Outcome

In [42]:
df.Outcome.unique()

array(['Negative ', 'Positive', 'Inconclusive', 'Negative', 'Positive  ',
       '  Negative', 'Inconclusive  ', ' Inconclusive'], dtype=object)

In [43]:
df.Outcome.value_counts()

Outcome
Positive          34
Inconclusive      30
Negative          28
Negative           1
Positive           1
  Negative         1
Inconclusive       1
 Inconclusive      1
Name: count, dtype: int64

In [44]:
# As we can see that there are names that have extra spaces 
# because of which we are getting more unique values but they represent the similar information
# Removing the extra spaces

In [45]:
df.Outcome=df.Outcome.str.strip()

In [46]:
df.Outcome.unique()

array(['Negative', 'Positive', 'Inconclusive'], dtype=object)

In [47]:
df.Outcome.value_counts()

Outcome
Positive        35
Inconclusive    32
Negative        30
Name: count, dtype: int64

In [48]:
# Now we can see only 3 unique values are there.

# Check for the duplicates

In [49]:
df.duplicated().sum()

0

In [50]:
# - As we can see there are no duplicates in the data.

# Conclusion

The dataset has been successfully cleaned and prepared for further analysis. All missing values have been handled, numerical columns have been converted to appropriate types, and specific values in categorical columns have been standardized. This ensures the dataset is consistent and ready for any subsequent data processing or analysis tasks.